.footer{
    background: url(../assets/footer.png) no-repeat center;
    background-size: cover;
}
.email{
    height: 289px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.email__title{
    margin-bottom: 20px;
}
.email__title p{
    text-align: center;
    color: #fff;
    font-family: "Oxygen";
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 16px;
    border-bottom: 1px solid #eeecec;
    width: 188px;
}
.email__inp{
    width: 500px;
    height: 55px;
    text-align: center;
}
.email__inp input{
    width: 80%;
    height: 100%;
    text-indent: 35px;
    border-radius: 3px 0 0 3px;
    border: none;
    outline: none;
}
.email__inp button{
    width: 20%;
    height: 100%;
    background: #FFFFFF47;
    border: none;
    border-radius: 0 3px 3px 0;
    color: #fff;
    cursor: pointer;
    transition: .6s;
}
.email__inp button:hover{
    background: #fff;
    color: #000;
    border-left: 1px solid #646464;
}
.bottom{
    height: 90px;
    background: #232F3899;
    display: flex;
    align-items: center;
}
.bottom__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

}
.bottom__logo h1{
    font-family: "Lora";
    font-size: 26px;
    font-weight: 400;
}
.bottom__collection{
    display: flex;
    gap: 20px;
}
.bottom__link{
    font-family: "Oxygen";
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF99;
    text-transform: uppercase;
}

@media (max-width: 650px) {
    .email__inp{
        width: 300px;
        height: 46px;
    }
    .bottom__collection{
        display: none;
    }
    .bottom__wrapper{
        justify-content: center;
    }
}
@media (max-width: 310px) {
    .email__inp{
        width: 260px;
        height: 38px;
    }
}